.moreLoveInterests {
	display: grid;
	grid-template-columns: repeat(auto-fill, 70px);
	gap: 5px;
	padding: 0.5rem;
}

@keyframes blink {
	0% { color: #FF6392; } 
	33% { color: #FFE45E; } 
	66% { color: #7FC8F8; } 
	100% { color: #FF6392; } 
  }
   
  .moreLoveInterests-blinking {
	animation: blink 1.5s infinite; /* 每1.5秒闪烁一次，无限循环 */
  }