.moreLoveInterests {
	display: grid;
	grid-template-columns: repeat(auto-fill, 5.5em);
	gap: 5px;
	padding: 0.5rem;
}

@keyframes blink {
	0% { color: #FF6392; } 
	33% { color: #FFE45E; } 
	66% { color: #7FC8F8; } 
	100% { color: #FF6392; } 
  }
   
.moreLoveInterests-blinking {
	animation: blink 1.5s infinite; /* 每1.5秒闪烁一次，无限循环 */
}

.item {
	display: flex;
	flex-direction: column;
	gap: 5px;
	align-items: center;
	text-align: center;
	border: 1px solid var(--200);
	padding: 5px;
}

.item hr {
	border-top: 1px solid var(--600);
	margin: 2px;
	width: 100%;
}

/* 新版本的link会自带额外的padding，只能这样手动来使链接与文字保持在同一行QAQ */
.MLIMLinks {
	padding: 0.1em 0.1em;
}

.itemFood {
	display: grid;
	grid-template-columns: repeat(auto-fill, 40px);
	gap: 5px;
	padding: 0.5rem;
}